<div class="container">
        <h4>DÍME HOLA!</h4>
        <div class="row">
            <div class="col-md-4 mt-5">
                    <div class="text-justify">
                        <div>
                                <h5>gisellemachadoyes@gmail.com</h5>
                        </div>
                        <p class="mt-3">Si quieres entrar en contacto para hablar sobre un nuevo proyecto o solo decir hola, envíame un correo.</p>
                </div>
            </div>
            <div class="col-md-8">
                    <div class="text-center">
                            <img src="../../../assets/img/phone.jpg" class="img-fluid" alt="phone">
                        </div>
                    </div>
        </div>
    </div>