<div class="container-fluid">
        <h4>DÍME HOLA!</h4>
        <div class="row">
            <div class="col-md-6 mt-5">
                    <div class="text-justify">
                        <a class="email sm h5" href="http://">gisellemachadoyes@gmail.com</a>
                        <p></p>
                            <p>Si quieres entrar en contacto para hablar sobre un nuevo proyecto o solo decir hola, envíame un correo.</p>
                </div>
            </div>
            <div class="col-md-6">
                    <div class="text-center">
                            <img src="../../../assets/img/phone.jpg" class="img-fluid" alt="phone">
                        </div>
                    </div>
        </div>
    </div>