.text-content {
    background: #f9f9f9;
}
.highlight {
    color: #E61A55;
    font-weight: bold;
}
.card-img-top {
    padding: 10px;
	display:block;
	margin:auto;
	width: 90px;
	height:90px;
}
.card-title, .card-text {
    text-align: center;
}
.card-title {
    font-size: 14px;
    font-weight: bold;
}
.link {
    color: #E61A55;
}