<section class="nav-container">
    <app-navbar></app-navbar>
</section>
<!-- Sobre Mi -->
<section class="container" style="margin-top: 100px">

    <div class="row mt-2 m" data-aos="fade-down" data-aos-duration="2000">
        <div class="col-md-3 mb-3">
            <div class="img-frame text-center p-2 rounded">
                <img src="../../../assets/img/giselle.jpeg" class="img-fluid rounded" alt="Foto de Perfil">
            </div>
        </div>
        <div class="col-md-9">
            <div class="text-break rounded">
                <h5 class="pb-2" data-aos="zoom-in" data-aos-duration="2000">SOBRE MI</h5>

                <p class="mt-1">Soy <a class="link" href="https://www.linkedin.com/in/giselle-machado-gm/"
                        target="_blank"><i class="fas fa-link"></i>Front-End Developer</a>, brasileña y actualmente vivo
                    en Santiago de Chile.</p>
                <p>Me encantan los desafíos y la lógica, por lo que encontré en la
                    programación un camino para desarrollar la creativad y el autoaprendizaje. Estoy siempre buscando
                    aprender nuevas tecnologías y herramientas para crear soluciones y convertir ideas en proyectos
                    reales.</p>

                <a class="link" href="https://drive.google.com/open?id=1hmxT6vTEP93Vxfn6FAXiB6mmqy9wI4Ut" target="_blank">
                    <p> Puedes ver mi CV aquí <i class="material-icons align-bottom">cloud_download</i></p>
                </a>

                <p>Hablo portugués, inglés y español con fluidez. Amo leer libros de aventuras y en mis tiempos libres
                    me gusta pintar <a class="link" href="https://www.instagram.com/acuarelasdegi/"
                        target="_blank">Acuarelas</a>.</p>
            </div>


            <!--<span class="highlight" data-toggle="modal" data-target="#modalWatercolors">(verlas aquí)</span>. -->

        </div>

        <!-- CAROUSEL -->
        <div class="container carousel-container">
            <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
                <div ngxSlickItem *ngFor="let slide of slides" class="slide m-2">
                    <div class="img-frame text-center p-2 rounded" data-toggle="modal" data-target="#modalWatercolors"
                        (click)="showWatercolor(slide.img)">
                        <img class="img-fluid rounded" src="{{ slide.img }}" alt="">
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
        <!-- /CAROUSEL -->
    </div>
</section>
<section>

    <!-- Modal -->
    <div class="modal fade" id="modalWatercolors" tabindex="-1" role="dialog" aria-labelledby="modalWatercolorsTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered-scrollable" role="document">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="float-right pr-2" aria-hidden="true">&times;</span>
                </button>

                <!-- <div class="modal-header">
                    <h6 class="modal-title" id="modalWatercolorsTitle">MIS ACUARELAS</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div> -->
                <div class="modal-body py-0">
                    <div class="mb-3 text-center">
                        <img [src]="watercolorModal" class="img-modal rounded" [alt]="">
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-light" style="font-weight: bold; color: #EE7BA7"
                        data-dismiss="modal">CERRAR</button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- /Modal -->

</section>