<section class="nav-container">
    <app-navbar></app-navbar>
</section>
<!-- Sobre Mi -->
<section class="container" style="margin-top: 130px">
    <h5 data-aos="zoom-in" data-aos-duration="2000">SOBRE MI</h5>

    <div class="row mt-4" data-aos="fade-down" data-aos-duration="2000">
        <div class="col-md-4 mb-4">
            <div class="text-center p-2 rounded" style="background: #f9f9f9">
                <img src="../../../assets/img/giselle.jpeg" class="img-fluid rounded " alt="Foto de Perfil">
            </div>
        </div>
        <div class="col-md-8">
            <div class="text-break rounded">
                <p class="mt-1">Soy <span class="link">Front-End Developer</span>,
                    brasileña y actualmente vivo en Santiago de Chile.</p>
                <p>Me encantan los desafíos y la lógica, por lo que encontré en la
                    programación un camino para desarrollar la creativad y el autoaprendizaje. Estoy siempre buscando aprender nuevas tecnologías y herramientas para crear soluciones y convertir ideas en proyectos reales.</p>
                <p>Hablo portugués, inglés y español con fluidez. Amo leer libros de aventuras y en mis tiempos libres me gusta pintar acuarelas <span
                        class="highlight" data-toggle="modal" data-target="#modalWatercolors">(verlas aquí)</span>.</p>

                <p>Puedes ver mi <a class="link" href="https://drive.google.com/open?id=16wI4yP6M2fvEnB5nT-fYGSh5iU-_fdCZ" target="_blank">CV aquí</a>.</p>
            </div>
        </div>
    </div>
    <!-- <div style="margin-top:70px">
            <app-skills></app-skills>
        </div> -->
</section>

<section>
    <!-- Modal -->
    <div class="modal fade" id="modalWatercolors" tabindex="-1" role="dialog" aria-labelledby="modalWatercolorsTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalWatercolorsTitle">MIS ACUARELAS</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-0">
                    <div class="mb-3" *ngFor="let watercolor of watercolors">
                        <img [src]="watercolor.img" class="img-fluid rounded" [alt]="watercolor.name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" style="font-weight: bold; color: #EE7BA7"
                        data-dismiss="modal">CERRAR</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <img src="../../../assets/img/watercolors/mont.JPG" alt="">
<img src="../../../assets/img/watercolors/Captura.JPG" alt="">
<img src="../../../assets/img/watercolors/across.JPG" alt="">
<img src="../../../assets/img/watercolors/aurora.JPG" alt="">
<img src="../../../assets/img/watercolors/bird.JPG" alt=""> -->