footer {
    height: 100px;
    background-color: #FDFF79;
}

footer p {
    font-size: 14px !important;
    color: #333;
}


footer a {
    color: #333;
}

@media screen and (max-width:490px){
    footer p {
        font-size: 12px !important;
    }
}