.navbar-light {
    background-color: #ffffff !important;
    border-bottom: 5px solid #FFDCDB;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #666666;;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
  }
  
  .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size:25px;
    font-weight: bolder;
    color:#C195AE;
    text-shadow: 0px 1px 0px #ffffff;
  }
  .navbar-nav {
   align-self: right;
  }
  
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #ffdcdb;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
   background-color: #ffdcdb;
   border-radius: 2px;
  }
  .pink-bar {
    background-color: #efcfdc;
    height: 80px;
  }
