.navbar-light {
    background-color: #ffffff !important;
    border-bottom: 5px solid #ffdcdb;
  }
  .navbar-nav {
   align-self: right;
  }
  .navbar-light .navbar-nav .nav-link:hover {
   background-color: #ffdcdb;
   border-radius: 2px;
  }
  .pink-bar {
    background-color: #efcfdc;
    height: 80px;
  }
