 <div class="container" style="margin-top: 50px">
 <div class="text-center" data-aos="fade-up"  data-aos-delay="10" data-aos-anchor-placement="top-bottom" data-aos-duration="3000">
        <img src="../../../assets/img/logogrande.png   " class="logoimg img-fluid" alt="logo-GM" routerLink="/projects" routerLinkActive="active">
        <div class="justify-content-center mt-5">
                    <a class="btn btn-outline-secondary p-3" routerLink="/projects" routerLinkActive="active">VER MIS PROYECTOS</a>
        </div>
    </div>
</div>
<!-- <app-about></app-about>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact></app-contact> -->
