<div class="nav-container">
        <app-navbar></app-navbar>
    </div>
    <div class="container top-standard" data-aos="fade-down" data-aos-duration="2000">
        <div class="row justify-content-center">
            <div class="card col-12 col-sm-6 col-md-6 col-lg-6 border-0 mb-5" *ngFor="let project of projects">   
                <div class="text-center p-2 rounded" style="background: #f9f9f9">    
                   <a [href]="project.npm" target="_blank" *ngIf="project.npm"><img [src]="project.img" class="card-img-top img-fluid rounded" [alt]="project.name"></a> 
                   <a [href]="project.demo" target="_blank" *ngIf="project.demo"><img [src]="project.img" class="card-img-top img-fluid rounded" [alt]="project.name"></a> 
                   <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="row justify-content-end mt-2 pr-0">
                                <div *ngIf="project.demo">
                                    <a class="links p-3 " [href]="project.demo" target="_blank">DEMO</a>
                            </div>
                            <div *ngIf="project.npm">
                                    <a class="links p-3 " [href]="project.npm" target="_blank">NPM</a>
                            </div>
                             <div>
                                     <a class="links p-3" [href]="project.code" target="_blank">CÓDIGO</a>
                             </div>   
                         </div>
                         </div>   
                </div> 
                    <div class="card-body mb-3">
                        <div class="row pr-0">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                        <h5 class="card-title border-bottom">{{project.name}}</h5>

                                </div>
                        </div>
                        <p   class="card-text">{{project.text}}</p>
                    </div>
                </div>
            </div>
        </div>
