<router-outlet></router-outlet>



<!-- <div class="bar">
    <section class="wrapper">
        <a class="brand" routerLink="/home" routerLinkActive="active">Giselle Machado</a>
      <nav>
        <ul>
          <li><a class="list-options" routerLink="/about" routerLinkActive="active">Sobre Mi</a></li>
          <li><a class="list-options" routerLink="/skills" routerLinkActive="active">Habilidades</a></li>
          <li><a class="list-options" routerLink="/projects" routerLinkActive="active">Projectos</a></li>
          <li><a class="list-options" routerLink="/contact" routerLinkActive="active">Contactos</a></li>
        </ul>
      </nav>
      </section>
    </div>
    <div class="contenido wrapper">  
      <router-outlet></router-outlet>
    </div> -->



<!-- <div style="text-align:center">
    <h1> Welcome to {{ title }}! </h1>
  </div>
  <nav>
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/about" routerLinkActive="active">About</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav> -->