html {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}
body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif !important;
    color: #333333;
    font-size: 16px;
    word-spacing: 2px;
}

.top-standard{
    padding-top: 160px;
}

.nav-container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }
h1,h2,h3,h4,h5,h6 {
    color: #666666  ;
}   
p {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    word-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link {
    color: #666666;;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
  }

.slick-dots li.slick-active button:before {
    color: #E61A55 !important;
}
.slick-dots li button:before {
    color: #E61A55 !important;
}
div:focus, a:focus {
    outline:none !important;
  }
@media screen and (min-width:1024px) and (max-width:2000px){
   
    .my-email {
        font-size: 30px;
        font-weight: bold;
    }
    .logoimg {
        width: 40%;
        height: 40%;
    }
}
@media screen and (min-width:995px) and (max-width:1024px){
    
    .my-email {
        font-size: 25px;
        font-weight: bold;
    }
    .logoimg {
        width: 50%;
        height: 50%;
    }
}
@media screen and (min-width:321px) and (max-width:995px){
    
    .my-email {
        font-size: 18px;
        font-weight: bold;
    }
    .logoimg {
        width: 50%;
        height:50%;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-top: 15px;
      }
        /* .carousel-container {
            margin-bottom: 4rem;
        } */
        .img-modal{
            width: 100%;
            height: 350px !important;
        }
        .modal-content {
            margin-top: 40%;
        }
        .top-resp {
            margin-top: 120px;
        }
        .top-standard{
            padding-top: 100px;
        }
}
@media screen and (max-width:320px){
    .my-email {
        font-size: 16px;
        font-weight: bold;
    }
    .logoimg {
        width: auto;
        height: auto;
    }
    .navbar-light .navbar-nav .nav-link {
        margin-top: 15px;
      }
    /* .carousel-container {
        margin-bottom: 4rem;
    } */
    .img-modal{
        width: 100%;
        height: 300px !important;
    }

    .top-resp {
        padding-top: 140px;
    }
    .top-standard{
        padding-top: 100px;
    }
}
@media screen and (max-width:280px){
    .top-resp {
        padding-top: 240px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
