* {
    margin: 0%;
    padding: 0%;
}
body {
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 16px;
    word-spacing: 2px;
}
.nav-container {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
  }
h1,h2,h3,h4,h5 {
    font-family: 'Montserrat', sans-serif;
    color: #666666  ;
}   
p {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 1.25rem;
}

@media screen and (min-width:1024px) and (max-width:2000px){
   
    .my-email {
        font-size: 30px;
        font-weight: bold;
    }
    .logoimg {
        width: 40%;
        height: 40%;
    }
}
@media screen and (min-width:995px) and (max-width:1024px){
    
    .my-email {
        font-size: 25px;
        font-weight: bold;
    }
    .logoimg {
        width: 50%;
        height: 50%;
    }
}
@media screen and (min-width:320px) and (max-width:995px){
    
    .my-email {
        font-size: 18px;
        font-weight: bold;
    }
    .logoimg {
        width: 50%;
        height:50%;
    }
}
@media screen and (max-width:320px){
    .my-email {
        font-size: 16px;
        font-weight: bold;
    }
    .logoimg {
        width: auto;
        height: auto;
    }
}