/* *{
    color: #616161;
    background-color: #EEEEEE;

        background-color: #FCE4EC;
        color: #000000;
        border-color: #F8BBD0;
      color: #707070;
      background: #bdbdbd;
      fill: #c48b9f;
    }
   */